<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" [routerLink]="['/']">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/counter']">Counet</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/postdata']">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>